<div class="page-footer">
                        <a href="block-ui.html" class="page-footer-item page-footer-item-left"><i data-feather="arrow-left" class="footer-left"></i>Block UI</a>
                        <a href="tree-view.html" class="page-footer-item page-footer-item-right">Tree View<i data-feather="arrow-right" class="footer-right"></i></a>
                      </div>