<div class="page-sidebar">
    <a class="logo" href="index.html">Laundry Mate</a>
        <ul class="list-unstyled accordion-menu">
            <li>
                <a href="/admin"><i data-feather="home"></i>Dashboard</a>
            </li>
            <li>
                <a href="#"><i data-feather="aperture"></i>Orders<i class="fas fa-chevron-right dropdown-icon"></i></a>
                <ul class="">
                    <li><a href="/admin/orders"><i class="far fa-circle"></i>All Orders</a></li>
                    <li><a href="/admin/orders/orders-log"><i class="far fa-circle"></i>Log Orders</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i data-feather="code"></i>Services<i class="fas fa-chevron-right dropdown-icon"></i></a>
                <ul class="">
                    
                    <li><a href="/admin/services"><i class="far fa-circle"></i>Services</a></li>
                </ul>
            </li>
            <li>
                <a href="/admin/users-data"><i data-feather="users"></i>Users</a>
            </li>
              
        </ul>
    <a href="#" id="sidebar-collapsed-toggle"><i data-feather="arrow-right"></i></a>
</div>