	<!-- Footer Start -->
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="offset-lg-2 col-lg-8">
					<div class="divider m-b-60"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-5 col-md-12 col-sm-12">
					<img src="/assets/images/logo/dark.svg" class="m-b-20" alt="">
					<div class="text">Harga Terjangkau, Kualitas Numero Uno. Review Paling Terbaik di Kota Depok. Jaminan Puas Untuk Customer<br>Google Maps 4.5/5 | Traveloka 4.8/5 | Go-Service 4.6/5</div>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6">
					<h6 class="m-b-10">Ringkasan Link</h6>
					<ul class="footer-nav list-unstyled">
						<li><a href="#"><i class="fa fa-angle-right"></i><span>Tentang Kami</span></a></li>
						<li><a href="#"><i class="fa fa-angle-right"></i><span>Harga</span></a></li>
						<li><a href="#"><i class="fa fa-angle-right"></i><span>FAQ’s</span></a></li>
						<li><a href="#"><i class="fa fa-angle-right"></i><span>Blog</span></a></li>
						<li><a href="#"><i class="fa fa-angle-right"></i><span>Kontak</span></a></li>
					</ul>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6">
					<h6 class="m-b-10">Layanan Antar Jemput</h6>
					<ul class="footer-nav list-unstyled">
						<li><a href="#"><i class="fa fa-angle-right"></i><span>Jak-Bog-Dep</span></a></li>
						<li><a href="#"><i class="fa fa-angle-right"></i><span>Tang-Bek</span></a></li>
						<li><a href="#"><i class="fa fa-angle-right"></i><span>Luar Jabodetabek</span></a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-12">
					<h6 class="m-b-10">Usaha Kami</h6>
					<div class="address">
						<p>Jalan Margonda Raya No. 24<br>Beji, Pondok Cina. 16xxx</p>
						<p>Phone: (021) 123-6969</p>
						<p><span>E-Mail: </span><a href="#">support@bodrumlaundry.com</a></p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<p class="copyright text-center">© 2021 Bodrum. All Rights Reserved. (Ekky & Dhaffa Foundation)</p>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer End -->
