<div class="page-header">
    <nav class="navbar navbar-expand-lg d-flex justify-content-between">
        <div class="header-title flex-fill">
            <a href="#" id="sidebar-toggle"><i data-feather="arrow-left"></i></a>
                <h5>Dashboard</h5>
        </div>
        <div class="header-search">
            <form>
                <input class="form-control" type="text" placeholder="Type something.." aria-label="Search">
                <a href="#" class="close-search"><i data-feather="x"></i></a>
            </form>
        </div>
        <div class="flex-fill" id="headerNav">
            <ul class="navbar-nav">
                <li class="nav-item d-md-block d-lg-none">
                    <a class="nav-link" href="#" id="toggle-search"><i data-feather="search"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link activity-trigger" href="#" id="activity-sidebar-toggle"><i data-feather="grid"></i></a>
                </li>
            </ul>   
        </div>
    </nav>
</div>