<body>


	<!-- ***** Preloader Start ***** -->
	<div id="preloader">
		<div id="loader" class="spinner">
			<div id="shadow"></div>
			<div id="box"></div>
		</div>
	</div>
	<!-- ***** Preloader End ***** -->


	<!-- Header Start -->
	<header class="main-nav-container box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="main-nav">
						<!-- Logo Start -->
						<a href="/" class="logo pull-left d-flex align-items-center">
							<img src="/assets/images/logo/dark.svg" alt="">
						</a>
						<!-- Logo End -->

						<!-- Navigation Start -->
						<nav class="menu pull-right">
							<ul class="menu-container list-unstyled d-flex align-items-center">
								<!-- Mega Menu Start -->
								<li class="menu-item open-mega-menu">
									<a class="nav-link" href="javascript:;">Reviews</a>
									<!-- <div class="mega-menu box overflow-hidden rounded-bottom">
										<div class="row no-gutters">
											<div class="col-lg-6">
												<div class="mega-menu-img imgfix overlay-blue opacity-80">
													<img src="/assets/images/photos/navbar/1.jpg" alt="">
													<div class="content text-center">
														<h3 class="text-white">Want to see an overview?</h3>
														<p class="text-white m-b-30">See all the pages at once.</p>
														<a href="javascript:;" class="button button-success transition-3d-hover">View All Pages</a>
													</div>
												</div>
											</div>
											<div class="col-lg-6 p-25">
												<div class="row no-gutters">
													<div class="col-lg-4">
														<span class="sub-title text-uppercase">Classic</span>
														<ul class="list-unstyled">
															<li><a href="../home/classic-agency.html">Classic Agency</a></li>
															<li><a href="../home/classic-business.html">Classic Business</a></li>
															<li><a href="../home/classic-marketing.html">Classic Marketing</a></li>
															<li><a href="../home/classic-start-up.html">Classic Start-up</a></li>
															<li><a href="../home/classic-saas.html">Classic SaaS</a></li>
															<li><a href="../home/classic-service.html">Classic Service</a></li>
															<li><a href="../home/classic-translation.html">Classic Translation</a></li>
														</ul>
													</div>
													<div class="col-lg-4">
														<span class="sub-title text-uppercase">Software</span>
														<ul class="list-unstyled m-b-20">
															<li><a href="../home/app-ui-kit.html">App UI Kit</a></li>
															<li><a href="../home/app-software.html">App Software</a></li>
															<li><a href="../home/app-software-2.html">App Software 2</a></li>
														</ul>
														<span class="sub-title text-uppercase">Other</span>
														<ul class="list-unstyled m-b-20">
															<li><a href="../home/domain.html">Domain Sales</a></li>
															<li><a href="../home/cryptocurrency-ico.html">Cryptocurrency ICO</a></li>
														</ul>
													</div>
													<div class="col-lg-4">
														<span class="sub-title text-uppercase">Portfolio</span>
														<ul class="list-unstyled m-b-20">
															<li><a href="../home/portfolio-agency.html">Portfolio Agency</a></li>
															<li><a href="../home/portfolio-personal.html">Portfolio Personal</a></li>
														</ul>
														<span class="sub-title text-uppercase">Mobile App</span>
														<ul class="list-unstyled last m-b-20">
															<li><a href="../home/app-location.html">Location App</a></li>
															<li><a href="../home/app-chat.html">Chat App</a></li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div> -->
								</li>
								<!-- Mega Menu End -->

								<!-- Sub Menu Start -->
								<li class="menu-item open-sub-menu">
									<a class="nav-link submenu-icon" href="javascript:;">Layanan</a>
									<ul class="sub-menu list-unstyled box rounded-bottom">
										<li class="sub-menu-item open-level-menu">
											<a class="sub-menu-link level-menu-icon" href="/pemesanan/kiloan">Kiloan</a>
										</li>
										<li class="sub-menu-item open-level-menu">
											<a class="sub-menu-link level-menu-icon" href="/pemesanan/satuan">Satuan</a>
										</li>
										<li class="sub-menu-item open-level-menu">
											<a class="sub-menu-link level-menu-icon" href="/pemesanan/gabungan">Gabungan</a>
										</li>
										<li class="sub-menu-item open-level-menu">
											<a class="sub-menu-link level-menu-icon" href="javascript:;">Antar Jemput</a>
										</li>
									</ul>
								</li>
								<!-- Sub Menu End -->

								<!-- Mini Menu Start -->
								<li class="menu-item open-mini-menu">
									<a class="nav-link" href="javascript:;">Tentang Kami</a>
									<!-- <div class="mini-menu box overflow-hidden rounded-bottom">
										<div class="row no-gutters">
											<div class="col-lg-6">
												<div class="mini-menu-img imgfix overlay-blue opacity-80">
													<img src="/assets/images/photos/navbar/2.jpg" alt="">
													<div class="content text-center p-25">
														<h3 class="text-white m-b-20">Want to see an overview?</h3>
														<a href="javascript:;" class="button button-success transition-3d-hover">Learn More</a>
													</div>
												</div>
											</div>
											<div class="col-lg-6 p-l-r-10">
												<a href="../home-property/index.html" class="icon-item border-bottom d-flex justify-content-start align-items-center" target="_blank">
													<div class="icon">
														<img src="/assets/images/photos/icons/1.png" alt="">
													</div>
													<div class="text">
														<h6>House</h6>
														<span>Real estate demo</span>
													</div>
												</a>
												<a href="../help-desk/index.html" class="icon-item border-bottom d-flex justify-content-start align-items-center" target="_blank">
													<div class="icon">
														<img src="/assets/images/photos/icons/2.png" alt="">
													</div>
													<div class="text">
														<h6>Help Desk</h6>
														<span>Help desk demo</span>
													</div>
												</a>
												<a href="#" class="icon-item border-bottom d-flex justify-content-start align-items-center o-30">
													<div class="icon">
														<img src="/assets/images/photos/icons/3.png" alt="">
													</div>
													<div class="text">
														<h6>New Demos</h6>
														<span>Coming soon...</span>
													</div>
												</a>
											</div>
										</div>
									</div> -->
								</li>
								<!-- Mini Menu End -->

								<!-- Sub Menu Start -->
								<li class="menu-item open-sub-menu">
									<a class="nav-link submenu-icon" href="javascript:;">Dokumen</a>
									<ul class="sub-menu list-unstyled box rounded-bottom">
										<li class="sub-menu-item open-level-menu">
											<a class="sub-menu-link level-menu-icon" href="/dokumen-faq">F.A.Q</a>
										</li>
										<li class="sub-menu-item open-level-menu">
											<a class="sub-menu-link level-menu-icon" href="/dokumen-s&k">Syarat dan Ketentuan</a>
										</li>
										<li class="sub-menu-item open-level-menu">
											<a class="sub-menu-link level-menu-icon" href="javascript:;">Legalitas Usaha</a>
										</li>
									</ul>
								</li>
								<!-- Sub Menu End -->

								<li class="menu-item d-none d-lg-block">
									<a class="nav-button transition-3d-hover" href="/tracking">Cek Pesanan</a>
								</li>
								
								<li class="menu-item d-none d-lg-block">
									<% if(cl == '/login'){ %>
										<a class="nav-button transition-3d-hover" href="<%- cl %>">Masuk / Daftar</a>
									<% } else { %>
										<a class="nav-button transition-3d-hover" href="<%- cl %>">Logout</a>
									<% }%>
								</li>
							</ul>
						</nav>
						<!-- Navigation End -->

						<a class="menu-trigger">
							<span>Menu</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- Header End -->