<%- include('./public-partials/head'); %>
<%- include('./public-partials/navbar'); %>
	<!-- Welcome Start -->
	<section class="welcome-auto oval-bg">
		<div class="container">
			<div class="row d-flex align-items-center">
				<!-- left item start -->
				<div class="col-lg-5 sm-margin-bottom-30">
					<h1 class="m-b-10">Usaha <span class="text-color-primary">Dry Cleaning</span> dan <span class="text-color-primary">Laundry</span> Terbaik</h1>
					<p class="m-b-40">Harga Terjangkau, Kualitas Numero Uno. Review Terbaik di Kota Depok</p>
					<div class="buttons d-flex align-items-center m-b-10">
						<a href="#pricing" class="button button-primary transition-3d-hover m-r-30">Coba Sekarang</a>
						<a href="javascript:;" class="video-button oval">
							<div class="play"><i class="fa fa-play"></i></div>
							<span>Tonton Video</span>
						</a>
					</div>
					<span>*Dapatkan promo untuk pemesanan pertama</span>
				</div>
				<!-- left item end -->

				<!-- right item start -->
				<div class="col-lg-7">
					<img src="http://demo.tempload.com/bodrum/v1.0.8/html/minimal/assets/images/photos/welcome/1.svg" class="img-fluid mx-auto d-block" alt="">
				</div>
				<!-- right item end -->
			</div>
		</div>
	</section>
	<!-- Welcome End -->


	<!-- Features Start -->
	<section class="p-b-90 m-t-80">
		<div class="container">
			<div class="row text-center">
				<div class="offset-lg-3 col-lg-6">
					<div class="header-badge m-b-15">Solutions</div>
					<h2 class="m-b-10">The All In One Solution</h2>
					<p class="m-b-40">Kami selalu mengedepankan Costumer Service dalam memakai jasa kami, berikut contohnya</p>
				</div>
			</div>
			<div class="row">
				<!-- item start -->
				<div class="col-lg-4 col-md-4 col-12 m-b-30 text-center" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
					<div class="features-white-circle right-radial-bottom">
						<div class="icon m-b-20">
							<i class="fa fa-comments-o"></i>
						</div>
						<h5 class="m-b-10">Kemudahan Transaksi</h5>
						<p>Kami memudahkan transaksi konsumer dengan menyediakan banyak promo, jasa dan opsi pembayaran termasuk COD*</p>
					</div>
				</div>
				<!-- item end -->
			
				<!-- item start -->
				<div class="col-lg-4 col-md-4 col-12 m-b-30 text-center" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s">
					<div class="features-white-circle active right-radial-top">
						<div class="icon m-b-20">
							<i class="fa fa-rocket"></i>
						</div>
						<h5 class="m-b-10">Laundry dan Antar Kilat</h5>
						<p>Jaminan Cepat dan Puas, juga dengan jasa antar jemput pakaian</p>
					</div>
				</div>
				<!-- item end -->
			
				<!-- item start -->
				<div class="col-lg-4 col-md-4 col-12 m-b-30 text-center" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s">
					<div class="features-white-circle">
						<div class="icon m-b-20">
							<i class="fa fa-code"></i>
						</div>
						<h5 class="m-b-10">Website dan Support 24/7</h5>
						<p>Dimana pun dan Kapan pun, kami selalu ada untuk melayanimu</p>
					</div>
				</div>
				<!-- item end -->
			</div>
		</div>
	</section>
	<!-- Features End -->


	<!-- Divider Start -->
	<div class="container">
		<div class="row">
			<div class="offset-lg-2 col-lg-8">
				<div class="divider"></div>
			</div>
		</div>
	</div>
	<!-- Divider End -->


	<!-- Parallax Start -->
	<section class="p-t-120">
		<div class="container">
			<div class="row">
				<!-- <div class="col-lg-12">
					<div class="parallax overlay-black opacity-30 p-200 rounded overflow-hidden" data-image-src="/assets/laundry_promo.mp4">
						<div class="content d-flex align-items-center justify-content-center">
							<a href="javascript:;" class="play-button center-center">
								<i class="fa fa-play"></i>
							</a>
						</div>
					</div>
				</div> -->
				<div class="col-lg-12 d-flex align-items-center justify-content-center">
					<div class="bottom-button m-t-n30">
						<i class="fa fa-angle-down"></i>
					</div>
				</div> 
			</div>
		</div>
	</section> 
	<!-- Parallax End -->


	<!-- About Start -->
	<section class="p-t-40 p-b-120">
		<div class="container">
			<div class="row">
				<div class="offset-lg-2 col-lg-8 text-center">
					<div class="header-badge m-b-15">Opsi Extra</div>
					<h2 class="m-b-10">Layanan We Care Delivery</h2>
					<p class="m-b-30">Layanan Antar Jemput Pakaian 24/7<br>Hanya pada Wilayah Jabodetabek</p>
					<p class="m-b-40">Demi memberikan kenyamanan dan kemudahan untuk pelanggan, kami menyediakan Layanan Antar Jemput Pakaian dengan Free Ongkos Kirim*</p>
				</div>
				<div class="col-lg-12 text-center d-flex justify-content-center">
					<a href="/dokumen-faq" class="download-button d-flex justify-content-center">
						<!-- <div class="icon">
							<i class="fa fa-maps"></i>
						</div> -->
						<div class="text text-center">
							<span align="center">Lihat</span>
							<strong align="center">FAQ</strong>
						</div>
					</a>
					<a href="/dokumen-s&k" class="download-button d-flex justify-content-center">
						<!-- <div class="icon">
							<i class="fa fa-file-alt"></i>
						</div> -->
						<div class="text">
							<span>Lihat</span>
							<strong>S&K</strong>
						</div>
					</a>
				</div>
			</div>
		</div>
	</section>
	<!-- About End -->


	<!-- Pricing Start -->
	<section class="p-t-120 p-b-90 t-h-60-bg m-t-80" id="pricing">
		<div class="container">
			<div class="row text-center">
				<div class="offset-lg-3 col-lg-6">
					<div class="header-badge m-b-15">Harga</div>
					<h2 class="m-b-10 text-white">Layanan Kami</h2>
					<p class="m-b-40 text-white">Silahkan pilih salah satu layanan, Pilihan layanan tidak dapat digabungkan</p>
				</div>
			</div>
			<div class="row m-b-30">
				<!-- item start -->
				<div class="col-lg-4 m-b-30 transition-3d-hover">
					<div class="box border-box p-25 rounded text-center">
						<h6 class="text-color-primary m-b-30">Kiloan</h6>
						<span class="display-3 d-block m-b-40">Variasi</span>
						<p class="m-b-40">Cuci Basah, Cuci Kering, Cuci Setrika, Setrika Lipat.<br>Semua jenis dan hanya pakaian</p>
						<a href="pemesanan/kiloan" class="button button-primary-soft d-block">Pilih Layanan</a>
					</div>
				</div>
				<!-- item end -->

				<!-- item start -->
				<div class="col-lg-4 m-b-30 transition-3d-hover">
					<div class="box border-box p-25 rounded text-center">
						<h6 class="text-color-success m-b-30">Satuan</h6>
						<span class="display-3 d-block m-b-40">Variasi</span>
						<p class="m-b-40">Pakaian, Boneka, Sepatu, Jaket, Tas, Koper, Selimut, Bed Cover, dsb.<br>Silahkan tekan pilih layanan untuk melihat harga</p>
						<a href="pemesanan/satuan" class="button button-success-soft d-block">Pilih Layanan</a>
					</div>
				</div>
				<!-- item end -->

				<!-- item start -->
				<div class="col-lg-4 m-b-30 transition-3d-hover">
					<div class="box border-box p-25 rounded text-center">
						<h6 class="text-color-primary m-b-30">Gabungan</h6>
						<span class="display-3 d-block m-b-40">Variasi</span>
						<p class="m-b-40">Layanan Laundry gabungan Kiloan dan Satuan.<br>Pakaian dan Lainnya</p>
						<a href="pemesanan/gabungan" class="button button-primary-soft d-block">Pilih Layanan</a>
					</div>
				</div>
				<!-- item end -->
			</div>
			<div class="row m-b-30">
				<div class="col-lg-12 text-center">
					<p>Dipercaya oleh klien besar kami.</p>
				</div>
			</div>
			<div class="row d-flex align-items-center justify-content-center">
				<div class="col-lg-2 col-sm-12 col-6">
					<img src="../assets/images/logo-kota-depok.png" class="mx-auto d-block m-b-30" alt="" width="40%">
				</div>
				<div class="col-lg-2 col-sm-12 col-6">
					<img src="../assets/images/logo-smkn1.png" class="mx-auto d-block m-b-30" alt="" width="50%">
				</div>
				<div class="col-lg-2 col-sm-12 col-6">
					<img src="../assets/images/logo-rpl.png" class="mx-auto d-block m-b-30" alt="" width="40%">
				</div>
			</div>
		</div>
	</section>
	<!-- Pricing End -->


	<!-- Faq Start -->
	<section class="p-t-120 p-b-100">
		<div class="container">
			<div class="row text-center">
				<div class="offset-lg-3 col-lg-6">
					<div class="header-badge m-b-15">F.A.Q.</div>
					<h2 class="m-b-10">Frequently Asked Questions</h2>
					<p class="m-b-40">Tidak menemukan masalahmu? <a href="#">Silahkan chat kami.</a></p>
				</div>
			</div>
			<div class="row">
				<div class="offset-lg-2 col-lg-8">
					<div class="faq" id="accordion">
						<div class="card">
							<div class="card-header" id="faqHeading-1">
								<div class="mb-0">
									<h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-1" data-aria-expanded="true" data-aria-controls="faqCollapse-1">
										Ada Cara Pembayaran Apa Saja?
									</h5>
								</div>
							</div>
							<div id="faqCollapse-1" class="collapse show" aria-labelledby="faqHeading-1" data-parent="#accordion">
								<div class="card-body">
									<p>Kami menyediakan beragam metode pembayaran</p>
									<p>Kartu Debit/Kredit (Visa, Mastercard, Amex, JPL), OVO, Gopay, Dana, Link Aja, COD*</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="faqHeading-2">
								<div class="mb-0">
									<h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-2" data-aria-expanded="false" data-aria-controls="faqCollapse-2">
										Bagaimana Cara Memesan?
									</h5>
								</div>
							</div>
							<div id="faqCollapse-2" class="collapse" aria-labelledby="faqHeading-2" data-parent="#accordion">
								<div class="card-body">
									<p>Customer dapat memilih pilihan layanan yang telah disediakan, kemudian dapat memilih barang yang akan di laundry (Memilih tipe dan menimbang sendiri apabila Kiloan)</p>
									<!-- <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed finibus faucibus congue.</p> -->
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="faqHeading-3">
								<div class="mb-0">
									<h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-3" data-aria-expanded="false" data-aria-controls="faqCollapse-3">
										Apa Saja Syarat dan Ketentuan Layanan Antar Jemput Pakaian?
									</h5>
								</div>
							</div>
							<div id="faqCollapse-3" class="collapse" aria-labelledby="faqHeading-3" data-parent="#accordion">
								<div class="card-body">
									<p>Wilayah Depok, Jakarta, dan Bogor - 24 Jam Layanan, Wilayah Bekasi dan Tanggerang - 12 Jam Layanan Siang Hari</p>
									<p>Free Ongkos kirim berlaku hanya pada wilayah Depok, Jakarta dan Bogor untuk pemesanan lebih dari Rp 150.000,-</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Faq End -->
    
<%- include('./public-partials/footer'); %>
<%- include('./public-partials/script'); %>
