<%- include('./public-partials/head'); %>
<%- include('./public-partials/navbar'); %>


	<!-- Page Title Start -->
	<section class="m-t-80 p-t-120 p-b-120">
		<div class="container">
			<div class="row">
				<div class="offset-lg-3 col-lg-6 text-center">
					<h1 class="m-b-10">Tracking Pemesanan</h1>
					<p class="m-b-30">Sialhkan Masukkan Nomor Resi Pemesanan</p>
					<div class="input-buttons primary">
						<form action="/tracking/status/" method="post">
							<input type="text" name="ordersId" placeholder="cth: 343xxxxx">
							<button type="submit"><i class="fa fa-search"></i></button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Page Title End -->


<%- include('./public-partials/footer'); %>
<%- include('./public-partials/script'); %>
